[submodule "wardriver-pwnagotchi-plugin"]
	path = wardriver-pwnagotchi-plugin
	url = https://github.com/cyberartemio/wardriver-pwnagotchi-plugin
[submodule "xfox64x/pwnagotchi_plugins"]
	path = xfox64x/pwnagotchi_plugins
	url = https://github.com/xfox64x/pwnagotchi_plugins
[submodule "V0r-T3x/fancygotchi"]
	path = V0r-T3x/fancygotchi
	url = https://github.com/V0r-T3x/fancygotchi
[submodule "cyberartmemio/wardriver-pwnagotchi-plugin"]
	path = cyberartemio/wardriver-pwnagotchi-plugin
	url = https://github.com/cyberartemio/wardriver-pwnagotchi-plugin
[submodule "tisboyo/pwnagotchi-pisguar2-plugin"]
	path = tisboyo/pwnagotchi-pisguar2-plugin
	url = https://github.com/tisboyo/pwnagotchi-pisugar2-plugin
[submodule "flamebarke/DiscoHash"]
	path = flamebarke/DiscoHash
	url = https://github.com/flamebarke/DiscoHash
[submodule "V0r-T3x/pwnagotchi_plugins"]
	path = V0r-T3x/pwnagotchi_plugins
	url = https://github.com/V0r-T3x/pwnagotchi_plugins
[submodule "PwnPeter/pwnagotchi-plugins"]
	path = PwnPeter/pwnagotchi-plugins
	url = https://github.com/PwnPeter/pwnagotchi-plugins
[submodule "V0r-T3x/pwnagotchi_LCD_colorized_darkmode"]
	path = V0r-T3x/pwnagotchi_LCD_colorized_darkmode
	url = https://github.com/V0r-T3x/pwnagotchi_LCD_colorized_darkmode
[submodule "sixt0o/f0xtr0t"]
	path = sixt0o/f0xtr0t
	url = https://github.com/sixt0o/f0xtr0t
[submodule "NoxiousKarn/Showerthoughts"]
	path = NoxiousKarn/Showerthoughts
	url = https://github.com/NoxiousKarn/Showerthoughts
[submodule "ad/pwnmothership"]
	path = ad/pwnmothership
	url = https://github.com/ad/pwnmothership
[submodule "cyberartmemio/wof-pwnagotchi-plugin"]
	path = cyberartemio/wof-pwnagotchi-plugin
	url = https://github.com/cyberartemio/wof-pwnagotchi-plugin
[submodule "ZTube/pwnagotchi-plugins-contrib"]
	path = ZTube/pwnagotchi-plugins-contrib
	url = https://github.com/ZTube/pwnagotchi-plugins-contrib
[submodule "mavotronik/pwnagotchi-plugins"]
	path = mavotronik/pwnagotchi-plugins
	url = https://github.com/mavotronik/pwnagotchi-plugins
[submodule "Sliim/pwnagotchi-slack-plugin"]
	path = Sliim/pwnagotchi-slack-plugin
	url = https://github.com/Sliim/pwnagotchi-plugins
[submodule "Omodaka9375/pwnagotchi-slack-plugin"]
	path = Omodaka9375/pwnagotchi-slack-plugin
	url = https://github.com/Omodaka9375/pwnagotchi-slack-plugin
[submodule "Sliim/pwnagotchi-plugins"]
	path = Sliim/pwnagotchi-plugins
	url = https://github.com/Sliim/pwnagotchi-plugins
[submodule "qLJB/pwnagotchi-bookworm-pisugar2-plugin"]
	path = qLJB/pwnagotchi-bookworm-pisugar2-plugin
	url = https://github.com/qLJB/pwnagotchi-bookworm-pisugar2-plugin
[submodule "qLJB/pwnagotchi-http-module"]
	path = qLJB/pwnagotchi-http-module
	url = https://github.com/qLJB/pwnagotchi-http-module
[submodule "evilsocket/pwnagotchi-plugins-contrib"]
	path = evilsocket/pwnagotchi-plugins-contrib
	url = https://github.com/evilsocket/pwnagotchi-plugins-contrib
[submodule "dadav/pwnagotchi-custom-plugins"]
	path = dadav/pwnagotchi-custom-plugins
	url = https://github.com/dadav/pwnagotchi-custom-plugins
[submodule "GaelicThunder/Experience-Plugin-Pwnagotchi"]
	path = GaelicThunder/Experience-Plugin-Pwnagotchi
	url = https://github.com/GaelicThunder/Experience-Plugin-Pwnagotchi
[submodule "Sniffleupagus/pwnagotchi_plugins"]
	path = Sniffleupagus/pwnagotchi_plugins
	url = https://github.com/Sniffleupagus/pwnagotchi_plugins
[submodule "crahan/pwnagotchi-plugins"]
	path = crahan/pwnagotchi-plugins
	url = https://github.com/crahan/pwnagotchi-plugins
[submodule "itsdarklikehell/pwnagotchi-plugins"]
	path = itsdarklikehell/pwnagotchi-plugins
	url = https://github.com/itsdarklikehell/pwnagotchi-plugins
[submodule "pwnmothership"]
	path = pwnmothership
	url = https://github.com/ad/pwnmothership
[submodule "NeonLightning/pwny"]
	path = NeonLightning/pwny
	url = https://github.com/NeonLightning/pwny
[submodule "SilenTree12th/pwnagotchi_plugins"]
	path = SilenTree12th/pwnagotchi_plugins
	url = https://github.com/SilenTree12th/pwnagotchi_plugins
[submodule "c-nagy/pwnagotchi-educational-purposes-only-plugin"]
	path = c-nagy/pwnagotchi-educational-purposes-only-plugin
	url = https://github.com/c-nagy/pwnagotchi-educational-purposes-only-plugin
[submodule "adi170-alt/pwnagotchi-banthex-upload"]
	path = adi170-alt/pwnagotchi-banthex-upload
	url = https://github.com/adi170-alt/pwnagotchi-banthex-upload
[submodule "jjensn/hashespwnagotchi"]
	path = jjensn/hashespwnagotchi
	url = https://github.com/jjensn/hashespwnagotchi
[submodule "wpa-2/telegram.py"]
	path = wpa-2/telegram.py
	url = https://github.com/wpa-2/telegram.py
